.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  justify-content: flex-start;
  /* Align items to the top vertically */
  min-height: 100vh;
  /* Ensure it takes at least the full viewport height */
  text-align: center;
  color: #d1bac8;
  font-family: fantasy;
  font-size: 15px;
  width: 100%;
  /* Allow it to take full width to center content within */
  padding-top: 50px;
  /* Add some top padding for spacing */
}

.first-title {
  font-size: 45px;
  font-weight: lighter;
  margin-bottom: 20px;
  color: rgb(209, 186, 200);
}

.title-box {
  background-color: rgba(240, 214, 209, 0.87);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(199, 121, 107, 0.2);
  margin-bottom: 20px;
  width: fit-content;
}

.first-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: max-content;
  max-width: 1500px;
  padding: 30px 15px;
  background-color: rgba(84, 132, 171, 0.748);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 100px 100px 100px;
}

.first-box {
  border-radius: 0px 50px 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 15px;
  font-size: medium;
  font-weight: 250;
  background-color: rgba(160, 192, 211, 0.604);
  box-shadow: 0 4px 6px rgba(105, 16, 99, 0.6);
  text-decoration: none;
  color: rgb(6, 25, 80);
  transition: all 0.3s ease;
  width: 100px;
  height: 60px;
}

.first-box:hover {
  background-color: rgba(85, 36, 36, 0.1);
  cursor: pointer;
}

.paper-box {
  background-color: rgba(240, 214, 209, 0.87);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(199, 121, 107, 0.2);
  margin-top: 20px;
  text-align: left;
  width: 8000px;
  /* Increased the width */
  height: fit-content;
  margin-left: auto;
  /* Keep auto margins for centering */
  margin-right: auto;
  font-family: Calibri, sans-serif;
  color: #28a745;
}

.paper-box h3 {
  font-family: Calibri, sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #9ea9a1;
  width: 100%;
}

.paper-box p {
  color: #051509;
  font-family: Calibri, sans-serif;
}

.text-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-area {
  flex: 1;
  margin-right: 20px;
}

.larger-image-right {
  width: 400px;
  height: auto;
  margin-left: 20px;
}