.app-background {
  background-image: url("./assets/blbg.png");
  /* Path to the background image */
  background-size: cover;
  /* Cover the whole page */
  background-position: center;
  /* Center the image */
  background-repeat: repeat;
  /* Do not repeat */
  background-color: rgb(218, 143, 220);
  width:100vw;
  /* Full viewport width */
  min-height:100vh;
  /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Overlay effect */
.app-background::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(142, 60, 151, 0.3);
  /* White with 30% transparency */
  z-index: 1;
  /* Ensures overlay is above the background */
}

.app-content {
  position: relative;
  z-index: 2;
  /* Ensures content is above the overlay */
  text-align: center;
  color: rgb(223, 209, 222);
  /* Adjust text color for visibility */
  font-family: fantasy;
}

/* Centering the Main Heading */
.main-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Full screen height */
  text-align: center;
}

/* Heading Styling */
.main-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Horizontal Navigation Bar */
.section-box:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}